.error-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.error-indicator img {
    width: 200px;
    height: 200px;
}

.error-indicator h1,
.error-indicator span {
    color: #b9871a;
}
